
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return getUserData(request.auth.uid).role == 'admin';
    }

    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    // Protect against changing certain fields on update
    function protectedFieldsUnchanged(fieldsToProtect) {
      return fieldsToProtect.size() == 0 || fieldsToProtect.map(field -> request.resource.data[field] == resource.data[field]).reduce(true, (acc, curr) -> acc && curr);
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId) && protectedFieldsUnchanged(['role', 'email', 'uid', 'createdAt']);
    }

    match /users/{userId}/follows/{followId} {
      allow read, delete: if isOwner(userId);
      allow create: if isSignedIn() && isOwner(request.resource.data.userId);
    }
    
    match /events/{eventId} {
      allow read: if (resource.data.status == 'published' && resource.data.approvalStatus == 'approved' && resource.data.visibility == 'public') || (isSignedIn() && (isOwner(resource.data.createdBy) || isAdmin()));
      allow create: if isSignedIn()
                    && request.resource.data.createdBy == request.auth.uid
                    && request.resource.data.approvalStatus == 'pending'
                    && !('stats' in request.resource.data); // Stats should not be set by client on create
      allow update: if (isSignedIn() && isOwner(resource.data.createdBy) && resource.data.approvalStatus != 'approved') || isAdmin();
      allow delete: if (isSignedIn() && isOwner(resource.data.createdBy)) || isAdmin();
    }

    match /venues/{venueId} {
      allow read: if resource.data.verified == true;
      allow create: if isSignedIn() 
                    && request.resource.data.createdBy == request.auth.uid
                    && request.resource.data.verified == false;
      allow update: if (isSignedIn() && isOwner(resource.data.createdBy) && resource.data.verified == false) || isAdmin();
      allow delete: if (isSignedIn() && isOwner(resource.data.createdBy)) || isAdmin();
    }
    
    match /threads/{threadId} {
      allow read: if true;
      allow create: if isSignedIn() 
                    && isOwner(request.resource.data.createdBy) 
                    && request.resource.data.title.size() >= 5 
                    && request.resource.data.body.size() >= 10;
      allow update: if (isSignedIn() && (isOwner(resource.data.createdBy) || isAdmin())) 
                    && request.resource.data.title.size() >= 5 
                    && request.resource.data.body.size() >= 10
                    && protectedFieldsUnchanged(['createdBy', 'createdAt']);
      allow delete: if (isSignedIn() && isOwner(resource.data.createdBy)) || isAdmin();

       match /reactions/{reactionId} {
        allow read: if true;
        allow create: if isSignedIn() && isOwner(request.resource.data.userId);
        allow delete: if isSignedIn() && isOwner(get(path).data.userId);
      }

      match /comments/{commentId} {
        allow read: if true;
        allow create: if isSignedIn() 
                      && isOwner(request.resource.data.createdBy) 
                      && request.resource.data.body.size() > 0;
        allow update: if (isSignedIn() && (isOwner(resource.data.createdBy) || isAdmin())) 
                      && request.resource.data.body.size() > 0
                      && protectedFieldsUnchanged(['createdBy', 'createdAt', 'threadId']);
        allow delete: if (isSignedIn() && isOwner(resource.data.createdBy)) || isAdmin();
      }
    }
    
    match /comments/{commentId} {
        match /reactions/{reactionId} {
          allow read: if true;
          allow create: if isSignedIn() && isOwner(request.resource.data.userId);
          allow delete: if isSignedIn() && isOwner(get(path).data.userId);
        }
    }

    match /reports/{reportId} {
        allow create: if isSignedIn() && isOwner(request.resource.data.createdBy);
        allow read, write, delete: if isAdmin();
    }

    match /eventInteractions/{interactionId} {
      allow read: if isSignedIn() && isOwner(resource.data.userId);
      allow create: if isSignedIn() && isOwner(request.resource.data.userId);
      allow delete: if isSignedIn() && isOwner(get(path).data.userId);
    }
  }
}
